<!-- <mat-button-toggle-group class="sidebar sidebar-lvl1" #sidebarSelection="matButtonToggleGroup" vertical (change)="sidebarOnChange(sidebarSelection.value)">
  <mat-button-toggle value="bookmark">
    <mat-icon>bookmark</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="comment">
    <mat-icon>mic</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="vibration">
    <mat-icon>vibration</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="back">
    <mat-icon>backspace</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="settings">
    <mat-icon>settings</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group> -->

<div class="sidebar sidebar-lvl1">
  <button mat-icon-button mat-raised-button (click)="sidebarOnChange('back')"><mat-icon>backspace</mat-icon></button>
  <button mat-icon-button mat-raised-button (click)="sidebarOnChange('bookmark')"><mat-icon>bookmark</mat-icon></button>
  <button mat-icon-button mat-raised-button (click)="sidebarOnChange('comment')"><mat-icon>mic</mat-icon></button>
  <button mat-icon-button mat-raised-button (click)="sidebarOnChange('vibration')"><mat-icon>vibration</mat-icon></button>
  <button mat-icon-button mat-raised-button (click)="sidebarOnChange('settings')"><mat-icon>settings</mat-icon></button>
</div>

<div class="sidebar sidebar-lvl2 bookmarks" [class.sidebar-lvl-open]="isBookmarksVisible">
  <mat-card-title>Lesezeichen</mat-card-title>
  <mat-list>
    <mat-list-item (click)="jumpToTimestamp(bookmark.timestamp)" *ngFor="let bookmark of bookmarks.bookmarks$ | async" class="clickable">
      <h4 mat-line>{{bookmark.title}}</h4>
      <button (click)="deleteBookmark(bookmark.id)" mat-icon-button><mat-icon mat-list-icon>delete</mat-icon></button>
      <p mat-line> {{bookmark.timestamp | timePipe:'mm:ss'}} </p>
    </mat-list-item>
  </mat-list>
</div>

<div class="sidebar sidebar-lvl2 comments" [class.sidebar-lvl-open]="isCommentsVisible">
  <mat-card-title>Kommentare</mat-card-title>
  <mat-list>
    <mat-list-item (click)="jumpToTimestamp(comment.timestamp)" *ngFor="let comment of audio.audioComments$ | async" class="clickable">
      <button (click)="audio.playRecord(comment.link)" mat-icon-button><mat-icon mat-list-icon>play_arrow</mat-icon></button>
      <button (click)="deleteRecord(comment.id)" mat-icon-button><mat-icon mat-list-icon>delete</mat-icon></button>
      <p mat-line> {{comment.timestamp | timePipe:'mm:ss'}} </p>
    </mat-list-item>
  </mat-list>
</div>

<div class="sidebar sidebar-lvl2 vibrations" [class.sidebar-lvl-open]="isVibrationsVisible">
  <mat-card-title>Vibrationen</mat-card-title>
  <mat-list>
    <mat-list-item (click)="jumpToTimestamp(comment.timestamp)" *ngFor="let comment of audio.audioComments$ | async" class="clickable">
      <button (click)="audio.playRecord(comment.link)" mat-icon-button><mat-icon mat-list-icon>play_arrow</mat-icon></button>
      <button (click)="deleteRecord(comment.id)" mat-icon-button><mat-icon mat-list-icon>delete</mat-icon></button>
      <p mat-line> {{comment.timestamp | timePipe:'mm:ss'}} </p>
    </mat-list-item>
  </mat-list>
</div>

<div class="sidebar sidebar-lvl2 settings" [class.sidebar-lvl-open]="isSettingsVisible">
  <mat-card-title>Einstellungen</mat-card-title>

</div>
