<!-- TODO: Icon Morphing or other Animation -->
<!-- TODO: Single Tap should show Tooltip -->
<!-- TODO: BUG: onPressUp doesnt fire when moving a little after press since pan event fire instead -->

<!-- Mode Switch Buttons -->
<button
    (click)="setMode('audio')"
    [ngClass]="{'active': mode === 'audio'}"
    id="actionSelectionComment"
    class="actionSelection"
    mat-mini-fab><mat-icon>mic</mat-icon>
</button>

<!-- <button
    (click)="setMode('bookmark')"
    [ngClass]="{'active': mode === 'bookmark'}"
    id="actionSelectionBookmark"
    class="actionSelection"
    mat-mini-fab><mat-icon>bookmark_border</mat-icon>
</button> -->
    
<button
    (click)="setMode('shape')"
    [ngClass]="{'active': mode === 'shape'}"
    id="actionSelectionShape"
    class="actionSelection"
    mat-mini-fab><mat-icon>hdr_weak</mat-icon>
</button>

<!-- Action Button -->
<!-- <button
    *ngIf="mode === 'audio'"
    class="actionSelection"
    (press)="onPress($event)"
    (pressup)="onPressUp($event)"
    (tap)="onTap()"
    #tooltip="matTooltip"
    [matTooltip]="tooltipLabel"
    id="actionSelection"
    class="actionSelection"
    mat-fab><mat-icon>add</mat-icon>
</button> -->

<button
    (click)="addAudio()"
    *ngIf="mode === 'audio'"
    id="actionButton"
    mat-fab><mat-icon>add</mat-icon>
</button>

<button
    (click)="addBookmark()"
    *ngIf="mode === 'bookmark'"
    id="actionButton"
    mat-fab><mat-icon>add</mat-icon>
</button>

<button
    (click)="addShape()"
    *ngIf="mode === 'shape'"
    id="actionButton"
    mat-fab><mat-icon>add</mat-icon>
</button>
