// @import "./../../variables.scss";

.inactive {
  background-color: grey;
}

#actionSelectionBookmark {
  // align-self: end;
  // grid-area: 1 / 1;
  // justify-self: end;
  position: absolute;
  top: 20%;
  left: 28%;
}

#actionSelectionComment {
  // align-self: end;
  // grid-area: 1 / 2;
  // justify-self: center;
  position: absolute;
  top: 10%;
  left: 56%;
}

#actionSelectionVibration {
  // align-self: center;
  // grid-area: 2 / 1;
  // justify-self: end;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

#actionSelection {
  // align-self: center;
  // grid-area: 2 / 2;
  // height: 50px;
  // width: 50px;
  // font-size: 2em;
  position: absolute;
  top: 51%;
  left: 51%;
}
