@import "./../../../variables.scss";

.active {
  mat-icon {
    color: $dh-orange;
  }
}

.actionSelection {
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
}

#actionSelectionBookmark {
  // align-self: end;
  // grid-area: 1 / 1;
  // justify-self: end;
  position: absolute;
  bottom: 75px;
  right: 0;
}

#actionSelectionComment {
  // align-self: end;
  // grid-area: 1 / 2;
  // justify-self: center;
  position: absolute;
  // bottom: 55px;
  // right: 55px;
  bottom: 75px;
  right: 3px;
}

#actionSelectionShape {
  // align-self: center;
  // grid-area: 2 / 1;
  // justify-self: end;
  position: absolute;
  bottom: 0;
  right: 75px;
}

#actionButton {
  // align-self: center;
  // grid-area: 2 / 2;
  // height: 50px;
  // width: 50px;
  // font-size: 2em;
  // background-color: $dh-grey;
  position: absolute;
  bottom: 0;
  right: 0;
}
