<!-- TODO: Icon Morphing or other Animation -->
<!-- TODO: Single Tap should show Tooltip -->
<!-- TODO: BUG: onPressUp doesnt fire when moving a little after press since pan event fire instead -->

<!-- Mode Switch Buttons -->
<button
    (click)="setMode('audio')"
    [ngClass]="{'inactive': !(mode === 'audio')}"
    id="actionSelectionComment"
    class="actionSelection"
    md-mini-fab><md-icon>mic</md-icon>
</button>

<button
    (click)="setMode('bookmark')"
    [ngClass]="{'inactive': !(mode === 'bookmark')}"
    id="actionSelectionBookmark"
    class="actionSelection"
    md-mini-fab><md-icon>bookmark_border</md-icon>
</button>
    
<button
    (click)="setMode('vibration')"
    [ngClass]="{'inactive': !(mode === 'vibration')}"
    id="actionSelectionVibration"
    class="actionSelection"
    md-mini-fab><md-icon>hdr_weak</md-icon>
</button>

<!-- Action Button -->
<!-- <button
    *ngIf="mode === 'audio'"
    class="actionSelection"
    (press)="onPress($event)"
    (pressup)="onPressUp($event)"
    (tap)="onTap()"
    #tooltip="mdTooltip"
    [mdTooltip]="tooltipLabel"
    id="actionSelection"
    class="actionSelection"
    md-fab><md-icon>add</md-icon>
</button> -->

<button
    (click)="addAudio()"
    *ngIf="mode === 'audio'"
    id="actionSelection"
    class="actionSelection"
    md-fab><md-icon>add</md-icon>
</button>

<button
    (click)="addBookmark()"
    *ngIf="mode === 'bookmark'"
    id="actionSelection"
    class="actionSelection"
    md-fab><md-icon>add</md-icon>
</button>

<button
    *ngIf="mode === 'vibration'"
    id="actionSelection"
    class="actionSelection"
    [mdTooltip]="'WIP'"
    md-fab><md-icon>add</md-icon>
</button>
