<!-- <h2 mat-dialog-title>Annotation setzen</h2> -->
<button mat-icon-button id="close" color="grey" mat-dialog-close><mat-icon>close</mat-icon></button>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Titel" #title>
    <!-- <input matInput value="{{duration | timePipe:'mm:ss'}}" disabled #title> -->
    <span matPrefix>
        <!-- <button *ngIf="recStatus === 'recording'" mat-icon-button><mat-icon class="recording">mic</mat-icon></button> -->
           
    </span>
    <span matSuffix>
      <mat-spinner [diameter]="18" [strokeWidth]="2" *ngIf="recStatus === 'recording'"></mat-spinner>
      <span *ngIf="recStatus === 'recording'">{{duration | timePipe:'mm:ss'}}</span>
      <button *ngIf="recStatus === 'start'" mat-icon-button (click)="startRec()"><mat-icon>mic</mat-icon></button>
      <button *ngIf="recStatus === 'recording'" mat-icon-button (click)="stopRec()"><mat-icon>stop</mat-icon></button>
      <button *ngIf="recStatus === 'done'" mat-icon-button (click)="play()"><mat-icon>play_arrow</mat-icon></button>
      <!-- <button *ngIf="recStatus === 'done' && !audioPaused" mat-icon-button (click)="stop()"><mat-icon>stop</mat-icon></button> -->
      <!-- <button *ngIf="recStatus === 'start'" mat-icon-button (click)="startRec()"><mat-icon>mic</mat-icon></button> -->
    </span>
  </mat-form-field>
  <mat-list>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile *ngFor="let shape of shapes" (click)="select(shape)" [ngClass]="{'selected': selectedShape === shape}" class="shape-item">
        <mat-icon>{{shape.icon}}</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-mini-fab id="submit" (click)="onSubmit(title.value, selectedShape)" color="primary"><mat-icon>check</mat-icon></button>  
</mat-dialog-actions>