@import './../../../../variables.scss';

.shape-item {
    cursor: pointer;
    &.selected {
        background-color: lightgrey;
        mat-icon {
            color: $dh-orange;
        }
    }
}

.recording {
    color: $dh-orange;
}

mat-dialog-content {
    position: relative;
}

#close {
    position: relative;
    top: -10px;
    right: -86%;
}

#submit {
    right: -85%;
    // bottom: 0;
}

mat-spinner {
    display: inline-block;
}