<h2 mat-dialog-title>Audiokommentar aufnehmen</h2>
<mat-dialog-content>
  <button *ngIf="status === 'start'" mat-button (click)="startRec()"><mat-icon>mic</mat-icon> Aufnehmen</button>

  <button *ngIf="status === 'recording'" mat-button (click)="stopRec()"><mat-icon>stop</mat-icon> Stoppen</button>

  <button *ngIf="status === 'done'" mat-button (click)="play()"><mat-icon>play_arrow</mat-icon> Abspielen</button>

  <div *ngIf="status === 'recording'" style="display:inline-block;">
    <!-- <mat-icon>fiber_manual_record</mat-icon> -->
    <mat-spinner class="rec-spinner"></mat-spinner> <span>{{ duration | timePipe:'mm:ss' }}</span>
  </div>

  <!-- <span>Zeitpunkt: {{ timestamp | timePipe:'mm:ss' }}</span> -->
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Abbrechen</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [disabled]="!(status === 'done')" [mat-dialog-close]="true" color="primary">Speichern</button>
</mat-dialog-actions>