<mat-list>
  <h3 mat-subheader>Lesezeichen</h3>
  <mat-list-item
    (click)="jumpToTimestamp(bookmark.timestamp)"
    *ngFor="let bookmark of bookmarks.bookmarks$ | async"
    class="clickable">
    <!-- <mat-icon mat-list-icon>bookmark</mat-icon> -->
    <h4 mat-line>{{bookmark.title}}</h4>
    <button (click)="deleteBookmark(bookmark.id)" mat-icon-button><mat-icon mat-list-icon>delete</mat-icon></button>    
    <p mat-line> {{bookmark.timestamp | timePipe:'mm:ss'}} </p>
  </mat-list-item>
</mat-list>