@import "./../variables.scss";

.mat-sidenav-container {
  background-color: $comet-text-color-primary-default;
  display: block;
}

dh-video {
  box-sizing: border-box;
  display: block;
  height: 100vh;
  width: 100vw;
}

main {
	bottom: 0;
	left: 0;

	position: absolute;
	right: 0;
  top: 0;
  z-index: 1;

	display: grid;
	grid: $comet-size-l repeat(9, 1fr) #{$comet-size-l} / #{$comet-size-l} repeat(12, 1fr) $comet-size-l;
	grid-gap: $comet-space-s;
}

#menu,
.sidebar {
  align-items: stretch;
  display: flex;
  // flex-flow: column;
  grid-area: 1 / 1 / -1 / 1;
  position: relative;
}

#controls {
	align-self: end;
	// background-color: rgba(209, 166, 139, 0.5);
	grid-area: -3 / 2;
}

#timeline {
	// background-color: rgba(97, 135, 168, 0.5);
	grid-area: -3 / 3 / -2 / -4;
}

#action-selection {
	// background-color: rgba(213, 208, 173, 0.5);
  grid-area: -4 / -4 / -2 / -2;

  // display: grid;
  // grid: repeat(2, 1fr) / repeat(2, 1fr);
  // grid-gap: $comet-space-s;
  position: relative;
}

dh-drag2wind {
  grid-area: 1 / 1 / -1 / -1;
  z-index: -1;
}
