<mat-sidenav-container>
<dh-video></dh-video>


  <mat-sidenav #sidenav>
    <dh-sidenav></dh-sidenav>
  </mat-sidenav>
    
  <main>
    <dh-drag2wind></dh-drag2wind>

    <nav id="menu">
      <button mat-icon-button class="transparent-button" (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
    </nav>
  

    <!-- <dh-my-sidebar id="sidebar" class="sidebar"></dh-my-sidebar> -->
    <div class="gradient-bg"></div>

    <dh-controls id="controls"></dh-controls>

    <dh-timeline id="timeline"></dh-timeline>

    <dh-action-controls id="action-selection"></dh-action-controls>
  </main>
</mat-sidenav-container>
  