@import "./../variables.scss";

.mat-sidenav-container {
  background-color: $comet-text-color-primary-default;
  display: block;
}

dh-video {
  box-sizing: border-box;
  display: block;
  height: 100vh;
  padding-left: $comet-space-xl;
  width: 100vw;
}

main {
	bottom: 0;
	left: 0;
	
	position: absolute;
	right: 0;
  top: 0;
  z-index: 1;

	display: grid;
	grid: $comet-size-l repeat(9, 1fr) #{$comet-size-l} / #{$comet-size-xl} repeat(12, 1fr) $comet-size-l;
	grid-gap: $comet-space-s;
}

#menu,
.sidebar {
  align-items: center;
  // background: linear-gradient(to right, rgba(181,231,255,1) 0%,rgba(128,211,242,1) 83%,rgba(110,201,234,1) 100%); // light
  background: linear-gradient(to right, hsla(199, 100%, 35%, 1) 0%, hsla(196, 81%, 29%, 1) 83%, hsla(196, 75%, 26%, 1) 100%); // darker
  box-shadow: $comet-shadow-block-edge-right;
  display: flex;
  flex-flow: column;
  grid-area: 1 / 1 / -1 / 1;
  padding-top: $comet-space-l;
  position: relative;
}

#controls {
	align-self: end;
	// background-color: rgba(209, 166, 139, 0.5);
	grid-area: -3 / 2;
}

#timeline {
	// background-color: rgba(97, 135, 168, 0.5);
	grid-area: -3 / 3 / -2 / -4;
}

#action-selection {
	// background-color: rgba(213, 208, 173, 0.5);
	grid-area: -4 / -4 / -2 / -2;
}

dh-drag2wind {
	// align-self: end;
	// background-color: rgba(209, 166, 139, 0.5);
	// background-color: pink;
	grid-area: 1 / 1 / -1 / -1;
	// width: 100%;
	// height: 100%;
}