<h2 md-dialog-title>{{ item.title || 'Kommentar' }} bearbeiten</h2>
<md-dialog-content>
  <md-form-field [hidden]="!item.title">
    <input mdInput placeholder="Titel" #title [value]="item.title">
    <span mdSuffix>@{{ item.timestamp | timePipe:'mm:ss' }}</span>
  </md-form-field>

  <button md-button (click)="onDelete(item)" md-dialog-close="'delete'"><md-icon>delete</md-icon> Löschen</button>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Abbrechen</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="title.value" color="primary">Speichern</button>
</md-dialog-actions>