<div class="dragbg"
  (tap)="video.playOrPause()"
  (panstart)="onPanStart($event)"
  (panmove)="onPan($event)"
  (panend)="onPanEnd($event)"
>
  <button
    mat-fab
    class="dragStart"
    *ngIf="visible"
    [ngStyle]="{'transform': 'translate(' + startX + 'px, '+ startY + 'px)'}"
  >
    {{ startTime | timePipe:'mm:ss'}}
  </button>
  <button
    mat-fab
    class="dragger"
    *ngIf="visible"
    [ngStyle]="{'transform': 'translate(' + dragX + 'px, '+ dragY + 'px)'}"
  >
    <mat-icon>{{ directionIcon }}</mat-icon>
    <!-- {{ video.currentTime$ | async | timePipe:'mm:ss' }} -->
  </button>
</div>