<h2 mat-dialog-title>Muster setzen</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Titel" #title>
    <span matSuffix>@{{ timestamp | timePipe:'mm:ss' }}</span>
  </mat-form-field>
  <mat-list>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let shape of shapes" (click)="select(shape)" [ngClass]="{'selected': selectedShape === shape}" class="shape-item">
        <mat-icon>{{shape.icon}}</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button (click)="onSubmit(title.value, selectedShape)" color="primary">Speichern</button>
</mat-dialog-actions>