@import "./variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html,
body,
dh-root,
 {
	height: 100vh;
	margin: 0;
	padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

dh-root {
  display: block;
}

body {
	background-color: $comet-background-color-dark;
	overflow: hidden;
}

// .blur {
// 	background-color: rgba(#FAFAFA, 0.3);
// 	// filter: blur(10px);
// }
