// DH variables
$dh-orange: (
    50: #ffece8,
    100: #ffd0c7,
    200: #ffb0a1,
    300: #ff907b,
    400: #ff795f,
    500: #ff6143,
    600: #ff593d,
    700: #ff4f34,
    800: #ff452c,
    900: #ff331e,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffd2ce,
    A700: #ffbab4,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    )
);





// https://comet.discoveryeducation.com/resources/tokens.html

// Color
// Background Color
$comet-background-color-default: #FFFFFF;
$comet-background-color-light: #E2E4E9;
$comet-background-color-dark: #2b2a2a;
// Text Color
$comet-text-color-primary-default: #fff;
$comet-text-color-primary-on-light: #2b2a2a;
$comet-text-color-primary-on-dark: $comet-text-color-primary-default;

// Size
$comet-size-default: 16px;
$comet-size-xs: 4px;
$comet-size-s: 6px;
$comet-size-m: 8px;
$comet-size-l: 32px;
$comet-size-xl: 64px;
// Icons
$comet-size-icon-xs: 12px;
$comet-size-icon-s: 16px;
$comet-size-icon-m: 20px;
$comet-size-icon-l: 24px;
$comet-size-icon-xl: 40px;
$comet-size-icon-xxl: 60px;


// Space
$comet-space-default: 16px;
$comet-space-xxs: 2px;
$comet-space-xs: 4px;
$comet-space-s: 8px;
$comet-space-m: 16px;
$comet-space-l: 32px;
$comet-space-xl: 64px;

// Shadow
$comet-shadow-block-edge-right: -1px 0px 5px 2px black;

// Animation
$comet-transition-hover: .25s ease-in-out;
$comet-transition-fade-in: $comet-transition-hover;
$comet-transition-fade-out: .45s ease-out;
