<h2 mat-dialog-title>{{ item.title }} bearbeiten</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Titel" #title [value]="item.title">
    <span matSuffix>@{{ item.timestamp | timePipe:'mm:ss' }}</span>
  </mat-form-field>

  <button mat-button (click)="onDelete(item)" mat-dialog-close="'delete'"><mat-icon>delete</mat-icon> Löschen</button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="title.value" color="primary">Speichern</button>
</mat-dialog-actions>