<h2 mat-dialog-title>Lesezeichen setzen</h2>
<form>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Titel" #title>
      <span matSuffix>@{{ timestamp | timePipe:'mm:ss' }}</span>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button [mat-dialog-close]="title" color="primary">Speichern</button>
  </mat-dialog-actions>
</form>